@import 'inputs-setting.scss';
.setting-row{
    display: flex;
}
.setting-block{
    font-size: small;
    border-bottom: 1px solid #bfbfbf;
    margin-bottom: 1em;
}
.s-title{
    font-weight: 500;
    margin-bottom: 0.5em;
}